@import url(jquery.simple-dtpicker.css);

body {
	font-family: 'Open Sans';
}

* {
	outline:none;
}

.kriek-icon {
	width:20px;
	height:20px;
	background: url(../img/icons.png);
	display:inline-block;
	vertical-align: middle
}

.kriek-icon.facebook {

}

.kriek-icon.empty {
	background: none;
}
.kriek-icon.basecamp {
	background-position: -20px 0px;
}
.kriek-icon.devserver {
	background-position: -40px 0px;
}

.kriek-icon.fbdeveloper {
	background-position: -60px 0px;
}


li {
	list-style-type: none;
}

li.entries {
	
}

.navbar {
	border-radius: 0px;
}

.navbar-nav>li>a {
	line-height: 30px;
}

nav .login {
}

ul.app li.app .thumbnail {
	margin-bottom: 20px;
	text-align: center;
	min-height: 190px;
	cursor: pointer;
}
ul.app li.app .thumbnail img {
}

.controls {
	margin-bottom:15px;
}

.controls * {
	margin-right:20px;
}

.controls.ugc-group * {
	margin-right:0px;
} 

th {
	cursor:pointer;
	background-color: #d9d9d9 !important;
}

table td {
	max-width: 150px;
	overflow: hidden;
}

ol.breadcrumb {
	margin-bottom: 0px;
	padding : 0px;
	background: none;
	color:gray;
	line-height:65px;
}

div.reportField {
	text-align: center;
}

div.reportField table {
	text-align: left;
}

ul.pagination {
	margin:20px auto;
}

ul.pagination li {
	cursor:pointer;
}

div.controls select {
	width:200px;
}

.numberOfResults {
	display:inline-block;
	line-height: 34px;
	margin-right: 0;
}

div.controls form {
	margin-right: 0;
}

aside .settings-child {
	display:none;
	text-indent:30px;
}

aside .devTools-child {
	display:none;
	text-indent:30px;
}

aside .discussion-child {
	display:none;
	text-indent:30px;
}

aside .briefcase-child {
	display:none;
	text-indent:30px;
}

aside .insights-child {
	display:none;
	text-indent:30px;
}

.breadcrumb li a{
	color: white !important;
}

div.ugc .results li.entries > div {
	margin-bottom: 30px;
	text-align: center;
}

div.ugc .results li.entries p {
	margin:2px;
}

div.ugc .results li.entries button {
	margin-top: 10px;
}

div.ugc .results .thumbnail .entryDisplay {
	text-align: center;
}

div.ugc .results ul {
	padding:0;
}

div.quiz table tr {
	cursor: pointer;
}

div.quiz table th {
	height: 30px;
	line-height: 30px;
	text-align: center;
}

div.quiz table td.start, div.quiz table td.end {
	text-align: center;
}

.on-off {
	width:32px;
	border-radius: 20px;
	background:white;
	height:19px;
	cursor:pointer;
	border:1px solid #a3a3a3;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset;
}

.on-off .switch {
	display:block;
	width:15px;
	border-radius: 20px;
	background: #a3a3a3;
	height:15px;
	margin-left:2px;
	transition: margin-left 1s;
	-webkit-transition: margin-left 1s;
	margin-top:1px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3), 1px 1px 1px rgba(255,255,255,0.3) inset;
}

.on-off.on {
	border:1px solid #428bca;
}

.on-off.on .switch {
	margin-left:13px;
	background: #428bca;
}

.moduleSettings .settings {
	display:none;
}

.moduleSettings.activeModule .settings {
	display:block;
}

.moduleSettings.activeModule .off-notif {
	display:none;
}

.information .app-image-container {
	position: relative;
	cursor:pointer;
	margin-right:20px;
}

.information .app-image-container .changeButton {
	position: absolute;
	bottom:0px;
	left:0px;
	background:#428bca;
	color:white;
	padding:6px;
	display:none;
}

.information .app-image-container:hover .changeButton {
	display:block;
}

/* SETTINGS - LANGUAGE */

.language .unsaved, .settingsGeneral .unsaved, .settingsModules .unsaved {
	display:none;
}

.settingsModules .unsaved {
	line-height: 32px;
	margin-right:20px;
}

#notificationModal .modal-dialog{
	width:960px;
}

#userDetailsModal .modal-dialog{
	width:960px;
}

.loading {
	height:500px;
	width:825px;
	background:url('../img/loading.gif') no-repeat center center !important;
}

.devToolsQuery .global {
	text-transform: uppercase;
	font-size: 10px;
	color:#428bca;
}

.devToolsQuery ul {
	padding:0;
}

li.app .thumbnail {
	border:none !important;
}

li.app .thumbnail:hover img {
	/*transform:scale(1.05);
	-webkit-transform: scale(1.05);*/
}

.uploadifive-button span,  .uploadifive-button{
	line-height:16px !important;
	width:30px;
}

.uploadifive-queue {
	display:none;
}

h3.chart {
	text-align: center;
}

.additionalChartInfo {
	text-align: center;
}

.additionalChartInfo .legend {
	display: inline-block;
	vertical-align: middle;
	width:15px;
	height: 15px;
	margin-left: 20px;
}

.reportField {
	cursor:pointer;
}

#userDetailsModal .smaller {
	font-size: 10px;
}

.filterContainer {
	margin-right: 0px;
}

.filterContainer * {
	margin-right: 0px;
}

.filter div {
	display:inline-block;
}

.filter div.field {
	margin-right: 20px;
}

.filter .close {
}

.filter:last-child {
	margin-bottom:15px;
}

table.error {
	width:100%;
}
table.error tr {
	cursor:pointer;
}
table.error tr td {
	overflow:hidden;
}

.popover.discussionBox {
	display:block;
	position: relative;
	max-width:none;
	margin-bottom:10px;
}

.discussion-entry {
	margin-bottom:20px;
}

.popover.right.discussionBox .arrow {
	top: 20px !important;
	border-right-color:#999;
	border-right-color:rgba(0,0,0,0.25);
}

.discussion .filterGroup {
	margin-bottom: 15px;
}

.discussion .adminAnswer h3 {

}

.addAdminBtn {
	margin:0 auto;
	display: block;
}

.discussionSettings .saveChangesBtn {
	margin:10px auto;
	display: block;
}

.saveChangesButton,.saveButton,.saveChanges{
	margin-bottom: 20px;
}

.page-header h3, .page-header p{
	margin-top: 0;
	padding-left: 0;
}

.activeSubItem {
	color: #428bca !important;
	font-weight: bold;
	background-color: #fafaff;
}

.btn {
}

.flash {
	animation: flash 1s;
	-webkit-animation: flash 1s;
}

@-keyframes flash {
	0%   {
		color:#ffffff;
		background-color: #eea236;
	}
	30%  {
		background-color: #ffffff;
		color: #ffffff;
	}
	100% {
		color:#ffffff;
		background-color: #f0ad4e;
	}
}

@-webkit-keyframes flash {
	0%   {
		color:#ffffff;
		background-color: #eea236;
	}
	30%  {
		background-color: #ffffff;
		color: #ffccaa;
	}
	100% {
		color:#ffffff;
		background-color: #f0ad4e;
	}
}

.backFlash {
	animation: backFlash 3s;
	-webkit-animation: backFlash 3s;
}

@-keyframes backFlash {
	0%   {
		background-color: #ffffff;
	}
	30%  {
		background-color: #eea236;
	}
	100% {
		background-color: #ffffff;
	}
}

@-keyframes backFlash {
	0%   {
		background-color: #ffffff;
	}
	30%  {
		background-color: #eea236;
	}
	100% {
		background-color: #ffffff;
	}
}

.devLogo {
	position: absolute;
	color:white;
	top:44px;
	left:54px;
	font-size: 11px;
	font-weight: bold;
}

.spotlight {

	position: fixed;
	top:100px;
	left: 50%;
	margin-left: -470px;
	display:none;
	z-index: 9999;
}

.spotlight .results{
	width: 860px;
	margin-left: 20px;
}

.spotlight input {
	height:100px;
	font-size: 58px;
	line-height: 100px;
	width:900px;
	border: 14px solid #555;
	border-radius: 20px;
}

.spotlight input:focus {
	border-color: #555;
	}

.spotlight .result {
	background: rgba(255,255,255,0.9);
	font-size: 23px;
	padding:10px 30px;
	border-bottom: 1px solid black;
	color:#555;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.spotlight .result.active {
	background: rgba(0,0,0,0.8);
	color: #ddd;
}


.details .dataDetails {
	text-align: right;
	display: inline-block;
	margin-right: 13px;
	width: 80px;
}

.details .dataDetails span.data {
	color: black;
	font-weight: bold;
	font-size: 23px;
}
.details .dataDetails span.title {
	color: gray;
	font-size: 12px;
}

table.activity td {
	border:none !important;
}

.stats .dataDetails {
	display: block;
	float:left;
	height: 80px;
}

.topNavRow .btn {
	padding: 6px 11px;
}


.analyze .dropdown .glyphicon {
	display:none;
}

.analyze .dropdown .active .glyphicon {
	display: inline-block;
}