<div class="well">
	<p><span class='glyphicon glyphicon-thumbs-up' style="font-size:20px; color:#0e77a8; margin-right:5px; vertical-align:middle;"></span>
	Upvoted <img src="http://graph.facebook.com/{{model.user_id}}/picture" style="height:20px;"> {{model.name}}'s entry</p>
	<div class="entry">

	</div>
	<p>Vote count: {{model.votes}}</p>
</div>