<div class="well">
	{{!-- <div class='glyphicon glyphicon-warning-sign pull-left' style="color:red; font-size:40px; margin:15px;"></div> --}}
	<p>Message: {{model.message}}</p>
	<p>Origin: {{model.origin}}</p>
	<p>Browser: {{browser model.server.HTTP_USER_AGENT}}</p>
	<p>Endpoint: {{model.server.REDIRECT_URL}}</p>
	<p>HTTPS: {{#if model.server.HTTPS}}ON{{else}}OFF{{/if}}</p>
	<p>Requested With: {{model.server.HTTP_X_REQUESTED_WITH}}</p>
	<p>Requested Method: {{model.server.REQUEST_METHOD}}</p>
	<p>Content Type: {{model.server.CONTENT_TYPE}}</p>
	<p>Referer: {{model.server.HTTP_REFERER}}</p>
	<p>User Role: {{model.session.role}}</p>
	{{#compare model.origin "server" operator="=="}}
		<p>Params: {{jsonStringify model.params}}</p>
	{{/compare}}
</div>
