<div class="well">
	<div class='glyphicon glyphicon-question-sign pull-left' style="color:#eea236; font-size:40px; margin:15px;"></div>
	<p>Answered the question: {{model.question.text}}</p>
	<p>with {{getFromArray model.answers model.data}}</p>
	<p>The answer was {{#if model.correct}}right{{else}}wrong{{/if}}.</p>
</div>
