<tr class='activityDetail'>
	<td></td>
	<td style="position:relative; width:30px;">
		<div style="
          border-left:4px solid #0e77a8;
          width:1px;
          height:100%;
          position:absolute;
          bottom:0px;
          left:15px;
          ">
	</td>
	<td>
		<div class='cardContainer'>
			Hooo
		</div>
	</td>
</tr>