<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add New Activity Type</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Feed Text</label>
            <p class="help-block">This text will appear in the activity feed. Set it as a third person verb, like: "posted a UGC entry".</p>
            <input class="form-control" type="text" data-key="name_feed">
          </div>

          <div class="form-group">
            <label>Chart Title</label>
            <p class="help-block">This text will appear above a chart in Insights. Use a capitalized, short description, like "Entries".</p>
            <input class="form-control" type="text" data-key="name_chart">
          </div>

           <div class="form-group">
            <label>Statistics Name</label>
            <p class="help-block">This text will appear in the app statistics, below the quantity number. Use an uncapitalized, very short name, like "entries".</p>
            <input class="form-control" type="text" data-key="name_short">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary save">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->
