<div class="modal fade" id="definitionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add Definition</h4>
        </div>
        <div class="modal-body">
          <label>Definition Name</label>
          <input type="text" class='form-control fieldName'>

          <label style="margin-top:10px;">Description</label>
        	<input type="text" class='form-control description'>

          <label style="margin-top:10px;">Type</label>
        	<select class='form-control type'>
        		<option selected data-type="text">Text</option>
        		<option data-type="file">File</option>
            <option data-type="button">Button</option>
        	</select>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary done">Done</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->