 <div class="modal fade" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add Task</h4>
        </div>
        <div class="modal-body">
        	
        	<!-- Text -->
            <div class="form-group">
              <label>Task Text</label>
              <input type="text" class="form-control message" placeholder="" data-field="message" value="{{message}}">
            </div>

            <!-- Link -->
            <div class="form-group">
              <label>Link</label><br>
              <input type="text" class="form-control link" placeholder="" data-field="link" value="{{link}}" style="display: inline-block; width:69%;">
              {{#if link}}
              {{else}}
              <select style="display:inline-block; width:30%;" class="form-control linkSelect">
                <option value="#/{{appID}}" selected></option>
                <option value="#/{{appID}}/briefcase/settings">Briefcase</option>
                <option value="#/{{appID}}/reports/1">Reports</option>
                <option value="#/{{appID}}/notifications">Notifications</option>
                <option value="#/{{appID}}/dev/query">Query Editor</option>
              </select>
              {{/if}}

            </div>

            <!-- Deadline -->
            <div class="form-group">
              <label>Deadline</label>
              <input type="datetime" class="form-control date" placeholder="" data-field="date">
            </div>

            <!-- Email notif -->
            <div class="form-group">
              <label>Email notification</label>
              <select class="form-control notif">
                <option value="" selected>No notification</option>
                <option value="peter@kriek.hu">Pepe</option>
                <option value="marton.borlay@kriek.hu">Marci</option>
                <option value="david.zsargo@kriek.hu">Dávid</option>
                <option value="petra@kriek.hu">Petra</option>
                <option value="tamas@kriek.hu">Tomi</option>
                <option value="istvan@kriek.hu">Szecs</option>
              </select>
            </div>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary saveChanges">Save</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->