<div class="appListItem" style="padding:10px; border:1px solid rgba(0,0,0,0.3); border-radius:10px; min-height:113px; margin-bottom:15px; padding-bottom:0px;">
    
    <div class='pull-right' style='font-size:30px; height: 113px; margin-top:-11px; padding-top:20px; margin-right:-11px; border-top-right-radius:10px; border-bottom-right-radius:10px; text-align:center; background:rgba(100,100,100,0.15); width:130px; color:black; border-left:5px solid rgba(12,114,252,1); font-weight:bold;'>
        <span class='activeUsers' data-id="{{model.id}}">0</span>
        <div style="font-size:12px; color:black; font-weight:normal;">live users</div>
    </div>

        <img src="http://graph.facebook.com/{{model.id}}/picture" class='pull-left' style="margin-right:10px; height:75px; width:75px; border-radius:5px;">

    	
    		<h4><a href="#/{{model.id}}/information">{{model.name}}</a><span style="font-size:14px; color:gray; text-decoration:none; font-weight:normal;"> {{durationString}}</span> </h4>
        
        <div class="details">

        	{{#each model.activity}}
                {{#if this.q}}
                    {{#compare @key 15 operator="=="}}
                    
                    {{else}}
                        <div class="dataDetails">
                            <span class="data">{{this.q}}</span><br>
                            <span class="title">{{this.name}}</span>
                        </div>
                    {{/compare}}
                {{/if}}
        	{{/each}}
            {{#if model.activity.15.q}}
                {{#admin model}}
                    <div class="dataDetails">
                        <span class="data" style="color:red;">{{errorPercent}}</span><br>
                        <span class="title">error%</span>
                    </div>
                {{/admin}}
            {{/if}}

        </div>

</div>