{{#admin this}}<button class="update btn btn-primary" style="float:right;">Update Apps</button>{{/admin}}
<div class="newApp"></div>
<h1>Live</h1>
<div class="production"></div>
<h1>Development</h1>
<div style="padding:0" class="development"></div>
<div class="well archiveTrigger" style='cursor:pointer;'>There are <span class='number'></span> more archived apps.</div>
<div class="archived" style="display:none;">
<h1>Archived</h1>
</div>

