<div class="modal fade" id="schemaEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit Object Schema</h4>
        </div>
        <div class="modal-body form-inline">
        	{{#each fields}}
	        	<div class="field">
					<input type="text" class='name form-control' style='width:40%' value='{{this.name}}' placeholder="Key (Name)">
					<select class='type form-control' style='width:20%'>
						<option data-type='text' {{#compare this.type "text" operator='=='}}selected{{/compare}}>Text</option>
						<option data-type='file' {{#compare this.type "file" operator='=='}}selected{{/compare}}>File</option>
						<option data-type='object' {{#compare this.type "object" operator='=='}}selected{{/compare}}>Object</option>
						<option data-type='image' {{#compare this.type "image" operator='=='}}selected{{/compare}}>Image</option>
						<option data-type='select' {{#compare this.type "select" operator='=='}}selected{{/compare}}>Select</option>
					</select>
					<span class="close" style='line-height:30px;'>&times;</span>
					<input class="title form-control" placeholder="Title" value="{{this.title}}">
					<input class="description form-control" placeholder="Description" value="{{this.description}}">
					<input class="default form-control" placeholder="Default value" value="{{this.defaultValue}}">
					{{#compare this.type "object" operator='=='}}
					<textarea class='form-control' style="margin-top:5px;">
						{{this.object}}
					</textarea>
					{{/compare}}
					{{#compare this.type "select" operator='=='}}
					<textarea class='form-control' style="margin-top:5px;">
						{{this.object}}
					</textarea>
					{{/compare}}
					{{#compare this.type "image" operator='=='}}
					<textarea class='form-control' style="margin-top:5px;">
						{{this.object}}
					</textarea>
					{{/compare}}
					<hr class='clearfix'>
				</div>
        	{{/each}}
        	<button class="btn btn-success addFieldBtn" style=''>Add Field</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary saveBtn">Save</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<script type="text/x-handlebars-template" class='newFieldTemplate'>
	<div class="field">
		<input type="text" class='name form-control' style='width:40%' value=''>
		<select class='type form-control' style='width:20%'>
			<option data-type='text' selected>Text</option>
			<option data-type='file'>File</option>
			<option data-type='object'>Object</option>
			<option data-type='image'>Image</option>
			<option data-type='select'>Select</option>
		</select>
		<span class="close" style='line-height:30px;'>&times;</span>
		<input class="title form-control" placeholder="Title">
		<input class="description form-control" placeholder="Description">
		<input class="default form-control" placeholder="Default value">		
		<hr class='clearfix'>
	</div>
</script>
