<div class="form-group">
{{#compare model.type "object" operator="=="}}
    <label>{{model.name}}</label>
    <div class="data-group dataHolder" style="padding-left:{{padding}}px;" data-name="{{model.name}}"></div>
{{else}}
	{{#compare model.type "id" operator="=="}}
		<label>ID</label>
		<p class='help-block'>Auto generated ID of the object</p>
	    <input type="text" value='{{value}}' data-name="{{model.name}}" class='form-control dataHolder' disabled="disabled">
	{{else}}
	    <label>{{model.title}}</label>
	    <p class='help-block'>{{model.description}}</p>
	    {{#compare model.type "select"}}
	    	<select class="form-control dataHolder" data-name="{{model.name}}">
	    		{{#each select}}
	    			<option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
	    		{{/each}}
	    	</select>
	    {{else}}
		    <input type="text" value='{{value}}' data-name="{{model.name}}" class='form-control dataHolder' data-type="{{model.type}}" {{#compare model.type "image" operator="=="}}data-width="{{dimensions.width}}" data-height="{{dimensions.height}}"{{/compare}}>
		    {{#compare model.type "file" operator="=="}}
		        <button class="btn btn-warning uploadBtn" style='margin-left:10px;'>Upload</button>
		    {{/compare}}
		    {{#compare model.type "image" operator="=="}}
		        <button class="btn btn-warning uploadBtn" style='margin-left:10px;' >Upload</button>
		        <p class="help-block">Required image dimensions: {{dimensions.width}}x{{dimensions.height}}</p>
		    {{/compare}}
	    {{/compare}}
	{{/compare}}

    <br>
{{/compare}}
</div>