<div class="alert alert-warning alert-dismissable unsaved" style="display:none;">You have unsaved changes.</div>

<div class="page-header clearfix" style="margin-top:15px;">
	<h3 class="col-lg-8">{{model.name}}</h3>
	<p class="col-lg-8">{{model.description}}</p>

	{{#compare model.type "collection" operator="=="}}
	<!--<button class="btn btn-primary pull-right editSchemaBtn" style="margin-right:10px;">Edit Schema</button>-->
	{{else}}
	<button class="btn btn-primary pull-right saveBtn" style="margin-right:10px;">Save</button>
	{{/compare}}
	<button class="btn btn-success pull-right addNewItemBtn" style="margin-right:10px;">Add</button>
</div>

<div class="contents"></div>
