<div class="panel panel-default item">
  <div class="panel-body">
    <span class='pull-right deleteBtn close' style='margin-left:15px; line-height:32px;'>&times;</span>
    <button class='btn btn-primary pull-right detailsBtn'>Edit</button>
  	<div class="customDisplay"><!-- Install a template to display the item here --></div>
  </div>
</div>