<div class="btn-group">
	<button class="btn btn-default" style="text-align:left; width:450px; margin-bottom:5px;overflow:hidden;"><img src="http://graph.facebook.com/{{model.user_id}}/picture" width="18"> {{model.user_id}} {{model.name}}</button>
	<div class="dropdown btn btn-warning" style="width:158px;">
		<div id="dLabel" class="" data-toggle="dropdown" data-target="#">Module</div>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			<li><a class="deleteBtn" data-module="user">User</a></li>
		  	<li><a class="deleteBtn" data-module="quiz">Quiz</a></li>
		  	<li><a class="deleteBtn" data-module="ugc">UGC</a></li>
		  	<li><a class="deleteBtn" data-module="invite">Invite</a></li>
		  	<li><a class="deleteBtn" data-module="sweepstake">Sweepstake</a></li>
		  	<li><a class="deleteBtn" data-module="custom">Custom</a></li>
		  	<li><a class="deleteBtn" data-module="limits">Limits</a></li>
		  	<li><a class="deleteBtn" data-module="activity">Activity</a></li>
		  	<li><a class="deleteBtn" data-module="payment">Payments</a></li>
		</ul>

	</div>


  	<button class="btn btn-danger deleteBtn" data-module="all">All</button>
  	
</div>