<div class="form-group dataContainer" data-developer="false">
	<div class="close pull-right">&times;</div>
	<label for="app_url">{{key}}</label>
	<p class='description' style="margin-bottom:3px;">{{model.description}}</p>
	<!--<p class="help-block"></p>-->
	<table style="width:100%;">
		<tbody>
		<tr>
		    {{#compare model.type "button" operator="=="}}
		    <td><button class="actionButton btn btn-warning">{{key}}</button></td>
		    	{{#admin model}}
		    		<td style="width:666px;"><input type="text" class="form-control field" data-type="{{model.type}}" data-key="{{key}}" value="{{model.value}}"></td>
		    	{{/admin}}
		    {{else}}
			    <td style="width:666px;"><input type="text" class="form-control field" data-type="{{model.type}}" data-key="{{key}}" value="{{model.value}}"></td>
			    {{#compare model.type "file" operator="=="}}
			    <td><button class="uploadButton btn btn-warning">Upload</button></td>
			    <td><button class="openButton btn btn-primary">Open</button></td>
			    {{/compare}}
		    {{/compare}}
		    
		</tr>
		</tbody>
	</table>
</div>

