<ul class="nav nav-tabs" id="tabs" data-tabs="tabs" style="margin-bottom:20px;">
  <li class='active'><a data-target="topics" data-toggle="tab" href="#topics">Topics</a></li>
  <li><a data-target="admins" data-toggle="tab" href="#admins">Admins</a></li>
</ul>

<div class="tab-content">
  
  <div class="tab-pane" id="topics">
  	
  </div>
  
  <div class="tab-pane form-horizontal" id="admins">
  	{{#each admins}}
        <div class="adminContainer">
            <div class="form-group">
        			<label class='col-lg-2 control-label'>Name</label>
              <div class="col-lg-7">
                <input type="text" value="{{this.name}}" class='form-control' data-field="name">
              </div>
              <button class='col-lg-2 btn btn-danger deleteBtn'>Delete</button>
            </div>
      			<div class="form-group">
              <label class='col-lg-2 control-label'>Picture</label>
              <div class="col-lg-7">
                <input type="text" value="{{this.picture}}" class='form-control uploadInput' data-id='{{@index}}' data-field="picture">
              </div>
              <button class='col-lg-2 btn btn-warning uploadBtn'>Upload</button>
            </div>
           
            <div class="form-group">
              <label class='col-lg-2 control-label'>Email</label>
              <div class="col-lg-7">
                <input type="text" value="{{this.email}}" class='form-control emailInput' data-field="email">
              </div>
            </div>
         
          <hr>
        </div>
    	{{/each}}
      <button class="btn btn-success addAdminBtn">Add new admin</button> 
      <button class="btn btn-primary saveChangesBtn">Save Changes</button>
  </div>

</div>


<script type="text/x-handlebars-template" id="newAdminTemplate">
 <div class="adminContainer">
            <div class="form-group">
              <label class='col-lg-2 control-label'>Name</label>
              <div class="col-lg-7">
                <input type="text" value="" class='form-control' data-field="name">
              </div>
              <button class='col-lg-2 btn btn-danger deleteBtn'>Delete</button>
            </div>
            <div class="form-group">
              <label class='col-lg-2 control-label'>Picture</label>
              <div class="col-lg-7">
                <input type="text" value="" class='form-control uploadInput' data-id='{{@index}}' data-field="picture">
              </div>
              <button class='col-lg-2 btn btn-warning uploadBtn'>Upload</button>
            </div>
            <div class="form-group">
              <label class='col-lg-2 control-label'>Email</label>
              <div class="col-lg-7">
                <input type="text" value="" class='form-control emailInput' data-field="email">
              </div>
            </div>
          <hr>
        </div>
 </script>