<div class="discussion-entry">

	<div class="question row">
		<div class="user col-lg-1">
			<img class="media-object" src="http://graph.facebook.com/{{model.question.uid}}/picture">
		</div>
		<div class="media-body col-lg-11">
			<div class="popover right discussionBox">
				<div class="arrow"></div>
				<h3 class="popover-title">
					{{#compare model.visible 1 operator="=="}}
						<button class="btn btn-default btn-xs pull-right visibilityBtn" data-visible="true">Visible</button>
					{{else}}
						<button class="btn btn-default btn-xs pull-right visibilityBtn" data-visible="false">Hidden</button>
					{{/compare}}
					{{model.question.name}}
					<span style="font-size:12px;float:right;margin-right:10px;">
					{{model.question.date}}
					</span>
				</h3>
				<div class="popover-content clearfix">
					{{#if model.question.extra.img}}
						<img src='{{model.question.extra.img}}' style='float:left; max-width:200px; margin-right:15px;'>
					{{/if}}
					{{{replaceNewline model.question.txt}}}
				</div>
				<div class="templateContainer question" style="background:#f0f7fa; font-size:12px;">
					<!-- CUSTOM TEMPLATE GOES HERE -->
				</div>
			</div>
		</div>
	</div>
	<div class="answers">
		{{#each model.question.answers}}
			<div class="answer row answerContainer">
				<div class="col-lg-1"></div>
				<div class="user col-lg-1">
					<img class="media-object" width="50" {{#compare this.admin true operator="=="}}src="{{this.picture}}"{{else}}src="http://graph.facebook.com/{{this.uid}}/picture"{{/compare}}>
				</div>
				<div class="media-body col-lg-10 {{#compare this.admin true operator="=="}}adminAnswer{{/compare}}">
					<div class="popover right discussionBox">
						<div class="arrow"></div>
						<h3 class="popover-title">
							<button class="btn btn-danger btn-xs pull-right deleteAnswerBtn" data-id="{{@index}}">Delete</button>
							{{this.name}}
							{{#if this.extra.shop_address}}
								- <span style="font-size:12px;">{{this.extra.shop_address}}</span>
							{{/if}}
							<span style="font-size:12px;float:right;margin-right:10px;">
							{{this.date}}
							</span>
						</h3>
						<div class="popover-content clearfix">
							{{{replaceNewline this.txt}}}
						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
	<div class="answer row form-horizontal">
		<div class="col-lg-1"></div>
		<div class="form-group">
			<div class="col-lg-9">
				<textarea class="form-control answerInput" type="text" placeholder="Type your answer here" style="margin-left:10px;"></textarea>
			</div>
			<button class="col-lg-1 btn btn-default sendAnswerBtn" style="margin-left:25px;">Send</button>
		</div>
	</div>


</div>


