<div class="page-header clearfix" style="margin-top:15px;">
	<h3 class="col-lg-8">Discussion</h3>
	<p class="col-lg-8">Moderate and answer your users' questions. Manage topics and admin entities in the Settings menu.</p>
	
	<div class="btn-group pull-right filterGroup">
	  <button type="button" class="btn btn-default active" data-filter="all">All</button>
	  <button type="button" class="btn btn-default" data-filter="answered">Answered</button>
	  <button type="button" class="btn btn-default" data-filter="unanswered">Unanswered</button>
	</div>

</div>
<div class="controls well form-inline">
		<input type="search" class="form-control search-field" id="" placeholder="Search" style="width:200px; display:inline;">
		
		
		<select class="form-control adminSelector">
			{{#each admins}}
				<option data-name="{{this.name}}" data-picture="{{this.picture}}">{{this.name}}</option>
			{{/each}}
		</select>

		<select class="form-control topicSelector">
			<option data-id="0">All</option>
		</select>

</div>

<div class="results"></div>



