<div class="page-header clearfix" style="margin-top:15px;">
	<h3 class="col-lg-8">Discussion</h3>
	<button class="backBtn btn btn-primary pull-right">Back to All</button>
	<p class="col-lg-8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	
</div>
<div class="controls well form-inline">
		<select class="form-control adminSelector">
			{{#each admins}}
				<option data-name="{{this.name}}" data-picture="{{this.picture}}">{{this.name}}</option>
			{{/each}}
		</select>
</div>

<div class="results"></div>