<div class="listContainer"></div>

<button type="button" class="btn btn-default left pager pull-left" style="width:80px;"><span class='glyphicon glyphicon-chevron-left'></button>
<button type="button" class="btn btn-default right pager pull-right" style="width:80px;"><span class='glyphicon glyphicon-chevron-right'></button>
