 <div class="modal fade" id="quizModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{#if model.id}}Edit Question{{else}}Add Question{{/if}}</h4>
        </div>
        <div class="modal-body">
        	<!-- Type -->
        	<div class="form-group">
				    Type: <input type="hidden" class='typeInputField' data-key="question" data-subkey="type" value="{{model.question.type}}">
				    <div class="btn-group">
				    	<button type="button" class="btn btn-default typeSelectionButton {{#compare model.question.type "text" operator="=="}}active{{/compare}}" data-attr="text">Text</button>
				    	<button type="button" class="btn btn-default typeSelectionButton {{#compare model.question.type "radio" operator="=="}}active{{/compare}}" data-attr="radio">Radio</button>
				    </div>
			</div>
			<!-- Text -->
			<div class="form-group">
				    <label>Question Text</label>
				    <input type="text" class="form-control"  data-key="question" data-subkey="text" value="{{model.question.text}}" placeholder="Add question text">
			</div>
			<!-- Answers -->
        	<div class="form-group answers-container">
				    <label>Answers</label>
				    <div class="answers">
	        			{{#each model.answers}}
	        			<div style="margin-bottom:5px;" class='answerContainer'>
					    	<button type="button" class="close" aria-hidden="true" style="line-height:1.6;">&times;</button>
					    	<input type="text" class="form-control" data-key="answers" value="{{this}}" style="display:inline-block; width:90%;" placeholder="Add answer text">
					    	<input type="radio" name="correct" class='correct-radio' data-attr="{{@index}}">
					    </div>
	        			{{/each}}
        			</div>
        			<!--<button class='btn btn-success addNewAnserBtn'>Add new answer</button>-->
        			<a class='addNewAnserBtn' style="color:#47a447; cursor:pointer;">Add new Answer</a>
        	</div>
        	<!-- Correct Answer(s) -->
        	<div class="form-group correct-text">
				    <label for="correct">Correct Answer(s)</label>
				    <input type="text" class="form-control" data-key="correct" value="{{join model.correct ","}}" placeholder="A comma separated list of correct answers">
			</div>

			<!-- Extra Fields -->
			{{questionfield model extraFields}}

			<!-- Order Number -->
			<div class="form-group">
				    <label>Order Number</label>
				    <input type="number" class="form-control"  data-key="question" data-subkey="number" value="{{model.question.number}}" style="display:inline-block; width:100px;">
			</div>

			<!-- Active from -->
			<div class="form-group" style="display:inline-block; margin-right:30px;">
				    <label for="From">Active From</label>
				    <input type="datetime" class="form-control date-from" data-key="active_from" value="{{model.active_from}}" placeholder="e.g. 2013-09-24 13:15:30">
			</div>

			<!-- Active till -->
			<div class="form-group" style="display:inline-block;">
				    <label for="Until">Active Until</label>
				    <input type="datetime" class="form-control date-till" data-key="active_till" value="{{model.active_till}}" placeholder="e.g. 2013-10-24 13:15:30">
			</div>

        </div>
        <script type="text/x-handlebars-template" class='answer-template'>
        	<div style="margin-bottom:5px;" class='answerContainer'>
		    	<button type="button" class="close" aria-hidden="true" style="line-height:1.6;">&times;</button>
		    	<input type="text" class="form-control" data-key="answers" placeholder="Add answer text" style="display:inline-block; width:90%;">
		    	<input type="radio" name="correct" class='correct-radio' >
			</div>
        </script>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary saveChanges">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->