<div class="thumbnail">
    <div class='entryDisplay'><!-- Install a template to display the entry here --></div>
    <div class="caption">
        <p><strong>Votes : {{model.votes}}</strong></p>
        <p>{{model.user_name}}&nbsp;</p>
        <p>{{model.email}}&nbsp;</p>
    	<p>{{model.date}}&nbsp;</p>
    	{{#compare model.disabled 1 operator="=="}}
    		<button class='btn disableButton btn-danger' data-id='{{model.id}}' data-disabled='1'>Disabled</button>
    	{{/compare}}
    	{{#compare model.disabled 0 operator="=="}}
    		<button class='btn disableButton btn-success' data-id='{{model.id}}' data-disabled='0'>Enabled</button>
    	{{/compare}}
        <button class="btn delete btn-danger">Delete</button>
    </div>
</div>
