<div class="well error-group">
	<button class="btn btn-warning resetBtn pull-right">Reset Errors</button>
	<div class="btn-group" style="display:inline-block; margin-right:10px; float:right;">
	  <button type="button" class="filterBtn btn btn-default active" data-filter="all">All</button>
	  <button type="button" class="filterBtn btn btn-default" data-filter="client">Client</button>
	  <button type="button" class="filterBtn btn btn-default" data-filter="server">Server</button>
	</div>
	<form class="form-inline" style="display:inline-block;">
		<input type="search" class="form-control search-field" id="" placeholder="Search" style="width:200px; display:inline;">
	</form>

</div>
<div class="results"></div>
