<div class="modal fade" id="userDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Error Details</h4>

        </div>
        <div class="modal-body">
          <p>{{model.message}}</p>
          <p>{{model.date}}</p>
          <h4>Parameters</h4>
          <p><pre>{{jsonStringify model.params}}</pre></p>
          <h4>Server</h4>
          <p><pre>{{jsonStringify model.server}}</pre></p>
          <h4>Session</h4>
          <p><pre>{{jsonStringify model.session}}</pre></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->
