<td>{{model.message}}</td>
<td class="user" data-id="{{model.session.user.id}}">{{model.session.user.name}}</td>
<td>{{browser model.server.HTTP_USER_AGENT}}</td>
<td>{{model.date}}</td>
<td><span class="close">&times;</span></td>



