<div class="page-header clearfix" style="margin-top:15px;">
	<h3 class="col-lg-8">Briefcase</h3>
	<p class="col-lg-8">The Briefcase holds valuable configuration for the app and assets used by it. The schema system means it's so flexible it can contain virtually anything.</p>

	<button class="btn btn-success pull-right addNewFolderBtn" style="margin-right:10px;">Add</button>
</div>

<div class="contents">

	


</div>
