<div class="modal fade" id="folderEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit Folder</h4>
        </div>
        <div class="modal-body">
        	<!-- Name -->
        	<div class="form-group">
        		<label>Name</label>
        		<input type="text" value='{{folder.name}}' data-name="{{folder.name}}" class='form-control'>
        	</div>
        	<!-- Description -->
        	<div class="form-group">
        		<label>Description</label>
        		<input type="text" value='{{folder.description}}' data-description="{{folder.description}}" class='form-control'>
        	</div>
            <!-- Shorthand -->
            <div class="form-group">
                <label>Shorthand</label>
                <input type="text" value='{{folder.shorthand}}' data-shorthand="{{folder.shorthand}}" class='form-control'>
            </div>
        	<!-- Admin Template -->
        	<div class="form-group">
        		<label>Admin Template</label>
        		<input type="text" value='{{folder.adminTemplate}}' data-adminTemplate="{{folder.adminTemplate}}" class='form-control'>
        	</div>
        	<!-- Type -->
        	<div class="form-group">
        		<label style="margin-right:15px;">Type</label>
        		<div class="btn-group type">
				  <button type="button" class="btn btn-default {{#compare folder.type "collection" operator="=="}}active{{/compare}}" data-type="collection">Collection</button>
				  <button type="button" class="btn btn-default {{#compare folder.type "definition" operator="=="}}active{{/compare}}" data-type="definition">Definition</button>
				</div>
        	</div>
        	<!-- Access -->
        	<div class="form-group">
        		<label style="margin-right:15px;">Access</label>
        		<div class="btn-group access">
				  <button type="button" class="btn btn-default {{#compare folder.access "public" operator="=="}}active{{/compare}}" data-access="public">Public</button>
				  <button type="button" class="btn btn-default {{#compare folder.access "private" operator="=="}}active{{/compare}}" data-access="private">Private</button>
				</div>
        	</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary saveBtn">Save</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
