<div class="panel panel-default folder">
  <div class="panel-body" data-index="{{model.index}}">
  	<p>{{model.name}}</p>
  	<p>{{model.description}}</p>
    <span class='pull-right deleteBtn close' style='margin-left:15px; line-height:32px;'>&times;</span>
    <button class='btn btn-primary pull-right editBtn'>Edit</button>
    <button class="btn btn-primary pull-right editSchemaBtn" style="margin-right:10px;">Schema</button>
  </div>
</div>