<nav class="navbar navbar-default navbar-inverse" role="navigation" {{#dev admin}}style="background-color:#334956; border-color:#293b46;"{{/dev}}>
  <div class="container">
  <div class="navbar-header" style="position:relative;">
    <a class="navbar-brand" href="#"><img src="img/kriek_logo_white.png"></a>
  </div>

  	<ul class="nav navbar-nav">
	  <li>
	  	<ol class='breadcrumb' style="display:inline-block;">
	  	</ol>
	  </li>
	</ul>


  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>{{#compare admin.loggedIn true operator="=="}}<a href="#" class='logout'>Logout ({{admin.name}})</a>{{/compare}}</li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div>
</nav>
