<div class="modal fade" id="processWizard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Process Wizard</h4>
        </div>
        <div class="modal-body">
          <div class="processContainer">
          	{{#each processes}}
          		<div class="process">
          			<div class="panel panel-default">
						<div class="panel-heading">{{this.name}}</div>
						<div class="panel-body">
							<!-- Image file -->
						 	<div class="form-group">
							  <label>Image file</label>
							  <input type="text" class="form-control" value="{{this.image}}">
							</div>
							<!-- Dimensions -->
						 	<div class="form-group" style="text-align:center;">
							  <label>Width</label>
							  <input type="number" class="form-control" value="{{this.width}}" style="display:inline-block; width:100px; margin-right:20px;">
							  <label>Height</label>
							  <input type="number" class="form-control" value="{{this.height}}" style="display:inline-block; width:100px;">
							</div>
							<!-- Resize and Crop -->
							<div class="form-group" style="text-align:center;">
							 	<button class="btn active">Resize</button> <button class="btn">Crop</button>
							</div>
						</div>
					</div>
          		</div>
          	{{/each}}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->
