<div class="page-header" style="margin-top:15px;">
    <img src="http://graph.facebook.com/{{model.id}}/picture" class="pull-left" style="border-radius:4px; margin-right:10px; width:60px; height:60px;">
    <div class="liveUsers pull-right">
        <span class="number" style="font-size:30px; text-align:right; width:64px; display:block;">0</span>
        <p>live users</p>
    </div>
	<h3>{{model.name}} 
    </h3>
    {{#if model.config.public.active_from.value}}
        <p style='font-size:14px;'>From <strong>{{model.config.public.active_from.value}}</strong> until <strong>{{model.config.public.active_until.value}}</strong></p>
    {{/if}}
    <div class="clearfix"></div>
  <div class="btn-group pagination-centered topNavRow" style="margin-top:10px;">
    <button class="btn btn-default"><a href="{{model.config.public.app_fb_url.value}}" target="_blank"><span class='kriek-icon facebook'></span> Facebook url</a></button>
    <button class="btn btn-default"><a href="{{model.config.public.app_url.value}}" target="_blank"><span class='kriek-icon devserver'></span> App url</a></button>
    <button class="btn btn-default" style="height:35px;"><a href="{{model.config.public.app_url.value}}mobile/" target="_blank"><span class='glyphicon glyphicon-phone'></span> Mobile url</a></button>
    {{#compare admin.developer true operator="=="}}
    <button class="btn btn-default"><a href="{{model.config.public.basecamp_url.value}}" target="_blank"><span class='kriek-icon basecamp'></span> Basecamp</a></button>
    {{/compare}}
    <button class="btn btn-default"><a href="http://www.facebook.com/add.php?api_key={{model.id}}&pages=1" target="_blank"><span class='glyphicon glyphicon-cloud-upload' style="height:20px;"></span> App install</a></button>
    <button class="btn btn-default"><a href="http://developers.facebook.com/apps/{{model.id}}" target="_blank"><span class='kriek-icon fbdeveloper'></span> FB Settings</a></button>
    {{#if model.config.public.terms_and_conditions_url.value}}
    <button class="btn btn-default" style="height:35px;"><a href="{{model.config.public.terms_and_conditions_url.value}}" target="_blank"><span class='glyphicon glyphicon-info-sign'></span> Terms and C.</a></button>
    {{/if}}
  </div>
    <div class="warnings" style="margin-top:15px;"></div>
</div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Insights</h3>
                </div>
              <div class="panel-body insights">
                
              </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">User Flow</h3>
                </div>
              <div class="panel-body userFlow">
                
              </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">App Statistics</h3>
                </div>
              <div class="panel-body stats">
                
              </div>
            </div>
            {{#compare admin.developer true operator="=="}}
            <div class="panel panel-primary" style="max-height:500px; overflow:hidden;">
                <div class="panel-heading">
                    <h3 class="panel-title">Tasks</h3>
                </div>
              <div class="panel-body tasks">
                
              </div>
            </div>
            {{/compare}}
        </div>

        <div class="col-lg-5">
            <div class="panel panel-primary" style="max-height:500px; overflow:hidden;">
                <div class="panel-heading">
                    <h3 class="panel-title">Activity Feed</h3>
                </div>
              <div class="panel-body ticker">
                
              </div>
            </div>
        </div>

    </div>


