<div class="page-header clearfix" style="margin-top:15px;">
	<h3 class="col-lg-8">Analyze Insights</h3>
	<p class="col-lg-8">Create a custom chart by specifying the date range and data types you are interested in.</p>
</div>

<div class="well">
	<div class="dropdown" style="display:inline-block;">
	  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
	    Filters
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu switches" role="menu" aria-labelledby="dropdownMenu1" style="width:200px;">
	  	{{#each activities}}
	  		{{#compare this.id 15 operator="!="}}
			<li role="presentation">
	    		<a role="menuitem" tabindex="-1" value="{{this.id}}" style="cursor:pointer; outline:none;">{{this.name}} <span class='glyphicon glyphicon-ok pull-right'></span></a>
			</li>
			{{/compare}}
		{{/each}}
	  </ul>
	</div>
	<div style="display:inline-block; margin-left:10px; position:relative;">
		From: <input type="datetime" value="{{startDate}}" class='start form-control' style="display:inline-block; width:200px; margin-right:10px;">
		Until: <input type="datetime" value="{{endDate}}" class='end form-control' style="display:inline-block; width:200px;">
	</div>
</div>

<div class="summary" style="text-align:center;">

</div>
<div class="chart" style="width:100%; height:300px;">

</div>

