<div class="page-header clearfix" style="margin-top:15px;">
	<h3 class="col-lg-8">Insights Overview</h3>
	<p class="col-lg-8">View detailed information about the performance of your app. Every aspect of the user flow can be tracked here, from statistics like page visits to user engagement.</p>
	{{#admin this}}<button class="btn btn-primary pull-right add">Add Custom Activity</button>{{/admin}}
</div>

<div class="charts"></div>