<div class="page-header clearfix" style="margin-top:15px;">
	<h3 class="col-lg-8">User Behavior</h3>
	<p class="col-lg-8">Analyze user behavior on your app. Discover what routes users take when interacting with the application.</p>
	<button class="btn btn-primary edit pull-right">Edit Test Groups</button>
</div>

<h4>Overview</h4>
<p>All groups combined</p>
<div class='combinedFlow'>

</div>

{{#each groups}}
<h4>Group {{this.letter}}: {{this.name}}</h4>
<p>{{this.desc}}</p>
<div class="flow">

</div>
{{/each}}

