<div class="jumbotron">
  <div class="container">
	  <div class="form-group">
	    <label>Username</label>
	    <input type="text" class="form-control username" placeholder="Username">
	  </div>
	  <div class="form-group">
	    <label>Password</label>
	    <input type="password" class="form-control password" placeholder="Password">
	  </div>
	  
	  <button class="btn btn-primary loginBtn">Login</button>
  </div>
</div>