<div class="modal fade" id="newAppModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Create New App Wizard</h4>
        </div>
        <div class="modal-body">
          <form role="form">

            <p>Disable Sandbox mode before continuing.</p>

            <!-- App ID -->
            <div class="form-group">
              <label>App ID</label>
              <input type="text" class="form-control idInput" placeholder="Enter App ID" data-field="id">
            </div>

            <!-- App Name -->
            <div class="form-group">
              <label>App Name</label>
              <input type="text" class="form-control" placeholder="Enter App Name" data-field="name">
            </div>

            <!-- App Secret -->
            <div class="form-group">
              <label>App Secret</label>
              <input type="text" class="form-control" placeholder="Enter App Secret" data-field="secret">
            </div>

            <!-- App Token -->
            <div class="form-group">
              <label>App Token</label>
              <input type="text" class="form-control" placeholder="Enter App Token" data-field="token">
              <span class="help-block">You can get the app token from <a target="_blank" href="https://developers.facebook.com/tools/access_token/">this link.</a></span>
            </div>

            <!-- Client  -->
            <div class="form-group">
              <label>Client</label>
              <!--<input type="number" class="form-control" placeholder="Enter Client ID" data-field="client_id">-->
              <select class='clients form-control'>
                {{#each clients}}
                    <option data-id="{{this.id}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>

            <!-- App Path -->
            <div class="form-group">
              <label>App Path</label>
              <input type="text" class="form-control" placeholder="Enter App Path" data-field="path">
              <span class="help-block">Enter the absolute path to the app.</span>
            </div>




          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary registerAppBtn">Done</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

