<div class="filter form-inline">
	<div class="close deleteFilter">&times;</div>
	<select class="field form-control" data-field="{{data.field}}" style="width:40%" disabled><option>{{data.field}}</option></select>
	<input class="filterText form-control" data-filter="{{data.filter}}" value="{{data.filter}}" style="width:40%" disabled>
</div>