<div class="well controls clearfix">
	<form class="form-inline col-lg-4">
		<h5>Data</h5>
		
	</form>
	<div class="col-lg-8" style="margin-right:0;">
		<h5>Filters</h5>
		<div class="filterContainer">

		</div>

	</div>
</div>
<h5 class="numberOfResults pull-right" style="margin-top:0px;"></h5>

<div id="results">

</div>
