<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{model.name}}
			<p class='pull-right' style="font-size:14px;">Sent to {{model.sent_to.length}} users.</p>
		</h3>
	</div>
	<div class="panel-body" style="position:relative;">
		<p>"{{model.settings.message}}"</p>
		<p style="position:absolute; bottom:0px; left:10px;">
			{{#each filters}}
			<span class='badge' style="margin-right:5px;">{{this.key}} : {{this.filter}}</span>
			{{/each}}
			{{#each data}}
				{{#if this}}
					<span class='label label-info' style="margin-right:5px;">{{@key}} : {{this}}</span>
				{{/if}}
			{{/each}}
		</p>
	    <button class='btn btn-primary pull-right details'>Details</button>
	</div>
</div>