<div>
	<p>You are one step away from sending notifications to {{users.length}} users.</p>
	<div class="form-group">
	    <label>Enter a name for this notification</label>
	    <input type="email" class="form-control nameField" placeholder="">
	    <span class="help-block">The name will only be visible in the admin area.</span>
	</div>
	<div class="form-group">
	    <label>Specify the message</label>
	    <input type="email" class="form-control messageField" placeholder="">
	</div>
	<div class="panel panel-default">
	  <div class="panel-body">
	    <p style="cursor:pointer;" class="advanced">Advanced <span class='glyphicon glyphicon-chevron-down pull-right'>&nbsp;</span></p>
		    <div class="advanced-options" style="display:none;"><input type="radio" name="advanced" placeholder="" checked> Redirect to app</div>
		    <div class="advanced-options" style="display:none;"><input type="radio" name="advanced" placeholder="" class="customUrl"> <input type="text" class="form-control customUrl-text" style="display:inline-block; width:60%;" placeholder="URL to redirect to"></div>
	  </div>
	</div>
</div>