<div class="page-header clearfix" style="margin-top:15px;">
	<h3 class="col-lg-8">Notifications</h3>
	<p class="col-lg-8">Reach your app users using Facebook notifications! Regular messages in key moments of your app's lifecycle can drastically increase user engagement.</p>

	<button class="btn pull-right btn-success newNotifBtn">New Notification</button>
</div>
<div id="results">
</div>