<p style="text-align:center;" class='progress-counter'>0/0</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" data-percent="0" style="width: 0%;">
  </div>
</div>
<p style="text-align:center;">Please wait...</p>