<div class="modal fade" id="notificationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Notification Details</h4>
        <p>{{model.name}}</p>
        {{#each model.settings.filters}}
          {{#if this}}
            <span class='badge' style="margin-right:5px;">{{@key}} : {{this}}</span>
          {{/if}}
        {{/each}}
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary resend">Resend to new users</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

