 <div class="modal fade" id="queryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{#if model.id}}Edit Query{{else}}Add Query{{/if}}</h4>
        </div>
        <div class="modal-body">
        	<!-- Name -->
			<div class="form-group">
				    <label>Name</label>
				    <input type="text" class="form-control"  data-key="data" data-subkey="name" value="{{model.data.name}}" placeholder="Name the query">
			</div>
			<!-- Description -->
			<div class="form-group">
				    <label>Description</label>
				    <input type="text" class="form-control"  data-key="data" data-subkey="desc" value="{{model.data.desc}}" placeholder="Add description to the query">
			</div>
			<!-- SQL Query -->
			<div class="form-group">
				    <label>SQL Query</label>
				    <textarea class="form-control query" rows="3" data-key="data" data-subkey="query">{{model.data.query}}</textarea>
			</div>
			<!-- Titles -->
			<div class="form-group">
				    <label>Titles</label>
				    <input type="text" class="form-control"  data-key="data" data-subkey="titles" value="{{join model.data.titles ","}}" placeholder="Comma separated list of custom column titles">
			</div>
			<!-- User ID -->
			<div class="form-group userid">
				    <label>User ID Column Number</label>
				    <input type="text" class="form-control"  data-key="data" data-subkey="user_id" value="{{model.data.user_id}}" placeholder="Number of the column that contains the user ID.">
			</div>
        	<!-- JSON Fields -->
			<div class="form-group jsonFields">
				    <label>JSON Fields</label><br>
				    {{#each model.data.jsonFields}}
				    <div class="well jsonField">
				    	<label>Column</label>
				    	<input type="text" class="form-control column"  value="{{this.column}}" placeholder="Column title">
				    	<label>Fields</label>
				    	<input type="text" class="form-control fields"  value="{{join this.fields ","}}" placeholder="Comma separated list of field names">
				    </div>
				    {{/each}}
				    <button class="btn btn-default addFieldBtn">Add Field</button>
			</div>
			


			<!-- Global -->
			<div class="form-group">
				    <label>Make it Global</label>
				    <input type="checkbox" {{#compare model.app_id 0 operator="=="}}checked{{/compare}} placeholder="Comma separated list of field names" class="isGlobal">
			</div>
			<div class="form-group">
				    <label>Make it Public</label>
				    <input type="checkbox" {{#compare model.public 1 operator="=="}}checked{{/compare}} placeholder="Comma separated list of field names" class="isPublic">
			</div>
        </div>
        <script type="text/x-handlebars-template" class='field-template'>
        	<div class="well jsonField">
				    	<label>Column</label>
				    	<input type="text" class="form-control column" placeholder="Column title">
				    	<label>Fields</label>
				    	<input type="text" class="form-control fields"  placeholder="Comma separated list of field names">
				    </div>
        </script>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary saveChanges">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->