<div class="panel panel-default" data-id="{{model.id}}">
  <div class="panel-heading">
    <h3 class="panel-title" style="cursor:pointer;">{{model.data.name}}
    	{{#compare model.app_id 0 operator="=="}}<span class='global'>Global</span>{{/compare}}
    	<button class="close">&times;</button>
	</h3>
  </div>
  <div class="panel-body">
    {{model.data.desc}}
  </div>
</div>
