<div class="page-header clearfix" style="margin-top:15px;">
	<h3 class="col-lg-8">Quiz Questions</h3>
	<p class="col-lg-8">Here you can manage the questions for your quiz. Add new ones or edit an existing item, the modifications will take effect immediately in your app.</p>

	<button class="btn pull-right btn-success addQuestionBtn">Add Question</button>
</div>
<div class="results"></div>