<div class="filterInput">
	<div class="form-inline">
		<select class="form-control" style="width:40%">
			{{#each fields}}
				<option>{{this}}</option>
			{{/each}}
		</select>
		<input type="text" class="form-control" style="width:40%">
		<button class="btn btn-primary addFilter">Add</button>
	</div>
</div>
