<div class="page-header clearfix" style="margin-top:15px;">
	<h3>Reports</h3>
	<p>You can browse many different reports about your app, like all users, winners or invite confirmations. Click on a user to view detailed information about him or her. If you'd like to see a list that isn't featured here, contact your Kriek project manager. </p>
</div>
<div class="controls well">
	<div class="form-inline controlForm">
		<input type="search" class="form-control search-field" id="" placeholder="Search" style="width:200px; display:inline;">
		<button class="btn export btn-primary">Export</button>
		{{#compare report 1 operator="=="}}
		<button class="btn update btn-primary">Fetch Email</button>
		{{/compare}}
		<span class="pull-right numberOfResults"></span>
	</div>

</div>
<div class="results"></div>

