<div class="page-header clearfix" style="margin-top:15px;">
	<h3 class="col-lg-8">Image Processing</h3>
	<p class="col-lg-8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

	<button class="btn pull-right btn-success">Add Process</button>
</div>
{{#each model.config.private.imageProcesses}}
<div class="panel panel-default" data-name="{{@key}}">
  <div class="panel-heading">
    <h3 class="panel-title" style="cursor:pointer;">{{@key}}<button class="close">&times;</button></h3>

  </div>
  <div class="panel-body">
    Outputs : {{#each this}}{{name}} {{/each}}
  </div>
</div>
{{/each}}