<div class="alert alert-warning alert-dismissable unsaved">You have unsaved changes.</div>

<div class="page-header clearfix" style="margin-top:15px;">
	<h3 class="col-lg-8">General</h3>
	<p class="col-lg-8">This page displays key settings and specifications for your app. Be precautious about modifications!</p>

	<button class="btn btn-primary pull-right saveChangesButton">Save Changes</button>
</div>

<form role="form">
	{{#each model.config.public}}
		<a name="{{@key}}"></a>
		<div class="form-group" data-developer="{{#compare this.role "kriek" operator="=="}}true{{else}}false{{/compare}}">
		    <label for="{{@key}}">{{this.title}}</label>
		    <p class="help-block">{{this.desc}}</p>
		    <table style="width:100%;">
		    <tr>
		    	{{#compare this.type "boolean" operator="=="}}
		    		<div class='on-off {{#compare this.value true operator="=="}}on{{/compare}}'><span class='switch'></span></div>
		    		<div><input type="hidden" data-group="public" data-key="{{@key}}" data-type="boolean" value="{{jsonStringify this.value}}"></div>
		    	{{else}}
				    {{#compare this.type "file" operator="=="}}<td style="width:30px;"><button class="uploadButton btn btn-warning" data-key="{{@key}}" id="uploadId{{@key}}">Upload</button></td>{{/compare}}
				    <td><input type="email" class="form-control" data-group="public" data-key="{{@key}}" value="{{this.value}}"></td>
				    {{#admin this}}
					<td style="width:30px;"><div class='btn btn-success addTask' title="Add Task" data-anchor="{{@key}}" data-name="{{this.title}}"><span class='glyphicon glyphicon-tasks'></span></div></td>
					{{/admin}}
				{{/compare}}
		    </tr>
		    </table>
		</div>
	{{/each}}

	{{#each model.config.private}}
		<div class="form-group" data-developer="{{#compare this.role "kriek" operator="=="}}true{{else}}false{{/compare}}">
		    <label for="{{@key}}">{{this.title}}</label>
		    <p class="help-block">{{this.desc}}</p>
		    <table style="width:100%;">
		    <tr>
			    {{#compare this.type "boolean" operator="=="}}
		    		<div class='on-off {{#compare this.value true operator="=="}}on{{/compare}}'><span class='switch'></span></div>
		    		<div><input type="hidden" data-group="private" data-key="{{@key}}" data-type="boolean" value="{{jsonStringify this.value}}"></div>
		    	{{else}}
				    {{#compare this.type "file" operator="=="}}<td style="width:30px;"><button class="uploadButton btn btn-warning" data-key="{{@key}}" id="uploadId{{@key}}">Upload</button></td>{{/compare}}
				    <td><input type="email" class="form-control" data-group="private" data-key="{{@key}}" value="{{this.value}}"></td>
				{{/compare}}
		    </tr>
		    </table>
		</div>
	{{/each}}
</form>