<div class="page-header clearfix" style="margin-top:15px;">
	<h3>Modules</h3>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
</div>
{{#each model.config.public.modules}}
	<div class="panel panel-default moduleSettings {{#compare this.active true operator="=="}}panel-primary activeModule{{/compare}}" data-key="{{@key}}">
	  <div class="panel-heading">
	    <h3 class="panel-title">{{@key}}<div class='on-off pull-right {{#compare this.active true operator="=="}}on{{/compare}}'><span class='switch'></span></div></h3>
	  </div>
	  <div class="panel-body">
	    	<div class='off-notif'>
	    		This module is currently turned off.
	    	</div>
	    	<div class='settings'>
	    		{{#each this}}
	    			{{#compare @key "active" operator="!="}}
		    			{{#type this "Object"}}
		    			{{else}}
		    				{{#type this "Array"}}
			    			{{else}}
			    				<div class="form-group">
								    <label>{{@key}}</label>
								    <input type="text" class="form-control" data-key="{{@key}}" value="{{#compare this "" operator="=="}}{{else}}{{this}}{{/compare}}">
								</div>
			    			{{/type}}
		    			{{/type}}
			    			
					{{/compare}}
	    		{{/each}}
	    		{{#ifkeys this}}
	    			<button class="btn btn-primary pull-right saveButton" data-key="{{@key}}">Save</button>
	    			<span class="unsaved pull-right">You have unsaved changes. </span>
	    		{{else}}
	    			This module doesn't have any options.
	    		{{/ifkeys}}
	    	</div>
	  </div>
	</div>
{{/each}}

