<div class="alert alert-warning alert-dismissable unsaved">You have unsaved changes.</div>

<div class="page-header clearfix" style="margin-top:15px;">
	<h3 class="col-lg-8">Facebook</h3>
	<p class="col-lg-8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

	<button class="btn btn-primary pull-right saveButton">Save Changes</button>
	<button class="btn btn-default pull-right autofillBtn" style="margin-right:10px;">Autofill</button>
</div>

<form role="form">
	{{#each facebookData}}
		<div class="form-group" data-developer="{{#compare this.role "kriek" operator="=="}}true{{else}}false{{/compare}}">
			    <label for="{{@key}}">{{@key}}</label>
			    <input type="email" class="form-control" data-group="public" data-key="{{@key}}" value="{{this}}">
		</div>
	{{/each}}
</form>