<div class="alert alert-warning alert-dismissable unsaved">You have unsaved changes.</div>

<div class="page-header clearfix" style="margin-top:15px;">
	<h3 class="col-lg-8">Language</h3>
	<p class="col-lg-8">These strings are wired directly into the app, so modifications are a piece of cake!</p>

	<button class="btn btn-primary pull-right saveChanges">Save Changes</button>
	<button class="btn btn-success pull-right addField" style="margin-right:10px;">Add Field</button>

</div>

<form role="form">
	{{#each model.lang}}
	<div class="form-group">
		<a name="{{@key}}"></a>
	    <label>{{@key}}</label><br><button class='close'>&times;</button>
	    <input type="email" class="form-control" data-key="{{@key}}" value="{{this}}" style="width:90%; display:inline-block;">
	    {{#admin this}}
			<div class='btn btn-success addTask' title="Add Task" data-anchor="{{@key}}" data-name="{{@key}}" style="display:inline-block; text-align:center;"><span class='glyphicon glyphicon-tasks'></span></div>
		{{/admin}}
	</div>
	{{/each}}
	
</form>



<script type="text/x-handlebars-template" class='template'>
	<div class="form-group">
	    <label>{{name}}</label><button class='close'>&times;</button>
	    <input type="email" class="form-control" data-key="{{name}}" value="" placeholder="Type your text here">
	</div>
</script>