<div class="list-group">

  {{!-- INFO --}}
  <a href='#/{{model.id}}/information' class="list-group-item information"><span class="glyphicon glyphicon-th-large"></span> Dashboard</a>

   {{!-- TICKER --}}
  <a href='#/{{model.id}}/ticker' class="list-group-item ticker"><span class="glyphicon glyphicon-refresh"></span> Activity Feed</a>

   {{!-- INSIGHTS --}}
  <a href='#/{{model.id}}/insights' class="list-group-item insights"><span class="glyphicon glyphicon-stats"></span> Insights</a>
    <a href='#/{{model.id}}/insights/overview' class="list-group-item insights-child" data-option="overview">Overview</a>
    <a href='#/{{model.id}}/insights/analyze' class="list-group-item insights-child" data-option="analyze">Analyze</a>
    <a href='#/{{model.id}}/insights/behavior' class="list-group-item insights-child" data-option="behavior">User Behavior</a>

   {{!-- BRIEFCASE --}}
  <a href='#/{{model.id}}/briefcase/{{briefcaseStart}}' class="list-group-item briefcase"><span class="glyphicon glyphicon-briefcase"></span> Briefcase</a>
    {{#each briefcase}}
      <a href='#/{{this.appID}}/briefcase/{{@index}}' class="list-group-item briefcase-child" data-option="general">{{this.name}}</a>
    {{/each}}
      <a href='#/{{model.id}}/briefcase/settings' class="list-group-item briefcase-child" data-option="settings">Settings</a>
      
  {{!-- UGC --}}
  {{#compare model.config.public.modules.ugc.active true operator="=="}}
  <a href='#/{{model.id}}/ugc' class="list-group-item ugc"><span class="glyphicon glyphicon-picture"></span> Contest</a>
  {{/compare}}

  {{!-- QUIZ --}}
  {{#compare model.config.public.modules.quiz.active true operator="=="}}
  <a href='#/{{model.id}}/quiz' class="list-group-item quiz"><span class="glyphicon glyphicon-th-list"></span> Quiz</a>
  {{/compare}}

   {{!-- SWEEPSTAKES --}}
  {{#compare model.config.public.modules.sweepstake.active true operator="=="}}
  <a href='#/{{model.id}}/sweepstakes' class="list-group-item sweepstakes"><span class="glyphicon glyphicon-gift"></span> Sweepstakes</a>
  {{/compare}}


  {{!-- CHAT --}}
  {{#compare model.config.public.modules.discussion.active true operator="=="}}
  <a href='#/{{model.id}}/discussion' class="list-group-item discussion"><span class="glyphicon glyphicon-comment"></span> Discussion</a>

  <a href='#/{{model.id}}/discussion/reply' class="list-group-item discussion-child" data-option="reply">Reply</a>
  <a href='#/{{model.id}}/discussion/settings' class="list-group-item discussion-child" data-option="settings">Settings</a>
  {{/compare}}

  {{!-- REPORTS --}}
  <a href='#/{{model.id}}/reports/1' class="list-group-item reports"><span class="glyphicon glyphicon-save"></span> Reports</a>

  {{!-- NOTIF --}}
  <a href='#/{{model.id}}/notifications' class="list-group-item notifications"><span class="glyphicon glyphicon-flash"></span> Notifications</a>

 

  {{!-- TODOS --}}
  {{#compare admin.developer true operator="=="}}
    <a href='#/{{model.id}}/todos' class="list-group-item todos"><span class="glyphicon glyphicon-tasks"></span> Tasks</a>
  {{/compare}}

  {{!-- SETTINGS --}}
  <a href='#/{{model.id}}/settings' class="list-group-item settings"><span class="glyphicon glyphicon-cog"></span> Settings</a>
    <a href='#/{{model.id}}/settings/general' class="list-group-item settings-child" data-option="general">General</a>
    {{#compare admin.developer true operator="=="}}
    <a href='#/{{model.id}}/settings/facebook' class="list-group-item settings-child" data-option="facebook">Facebook</a>
    {{/compare}}
    <a href='#/{{model.id}}/settings/language' class="list-group-item settings-child" data-option="language">Language</a>
    {{#compare admin.developer true operator="=="}}
    <a href='#/{{model.id}}/settings/modules' class="list-group-item settings-child" data-option="modules">Modules</a>
    <a href='#/{{model.id}}/settings/imageprocessing' class="list-group-item settings-child" data-option="imageprocessing">Image Processing</a>
    {{/compare}}


  {{!-- DEV TOOLS --}}
  {{#compare admin.developer true operator="=="}}
   <a href='#/{{model.id}}/dev' class="list-group-item dev"><span class="glyphicon glyphicon-wrench"></span> Developer Tools</a>
    <a href='#/{{model.id}}/dev/reset' class="list-group-item devTools-child" data-option="reset">Data Reset</a>
    <a href='#/{{model.id}}/dev/errorlog' class="list-group-item devTools-child" data-option="errorlog">Error Log</a>
    <a href='#/{{model.id}}/dev/query' class="list-group-item devTools-child" data-option="query">Query Editor</a>
    <a href='/admin/endpoints?admin_token={{admin.admin_token}}' class="list-group-item devTools-child" data-option="endpoint">Endpoint Manager</a>
  {{/compare}}
</div>