<div class="modal fade" id="addPrizes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Bulk Add Prizes</h4>
        </div>
        <div class="modal-body">
          <p>
          Prize: <select class='form-control prize' style="display:inline-block; width:60%; margin-left:20px;">
                    {{#each prizes}}
                      <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                  </select>
          </p>
          <p>
            Amount: <input type="text" class='amount form-control' style="display:inline-block; width:60%;">
          </p>
          <p>Date Range:</p>
          <p>
            <div style="display:inline-block;">
              <input type="datetime" class='start form-control' style="display:inline-block; width:100%;" placeholder="Start">
            </div>
            <div style="display:inline-block;">
              <input type="datetime" class='end form-control' style="display:inline-block; width:100%;" placeholder="End">
            </div>
            
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary add">Add</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->
