<div class="page-header clearfix" style="margin-top:15px;">
	<h3 class="col-lg-8">Sweepstakes</h3>
	<p class="col-lg-8">Manage prizes your users can win.</p>

	<button class="pull-right btn btn-success addPrizes">Bulk add prizes</button>
</div>

