<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit Test Groups</h4>
        </div>
        <div class="modal-body">
          {{#each groups}}
            <div class="group">
              <div class="pull-right" style="margin-right:20px;"><input type="number" class='form-control percent' style="width:80px; display:inline-block;" value="{{this.ratio}}">%</div>
              <h4>{{this.letter}}: <span class='name'>{{this.name}}</span></h4>
              <p class='desc'>{{this.desc}}</p>
              <hr>
            </div>
          {{/each}}
        </div>
        <div class="modal-footer">
          <p class="error" style="display:none; color:#d9534f; text-align:left;">Group chances have to add up to 100.</p>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary add">Add new group</button>
          <button type="button" class="btn btn-primary save">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->
 <script type="template/handlebars">
  <div class="group">
    <div class="pull-right" style="margin-right:20px;"><input type="number" class='form-control percent' style="width:80px; display:inline-block;" value="0">%</div>
    <h4><input value="" placeholder="Name" class='form-control name' style="display:inline-block; width:70%;"></h4>
    <p><input value="" placeholder="Description" class='form-control desc' style="display:inline-block; width:100%;"></p>
    <hr>
  </div>
 </script>
