<div class="panel panel-default" data-id="{{model.id}}" data-type="{{model.type}}" data-session='{{model.session}}' data-type="{{model.type}}" style="cursor:pointer;">
	<div class="date pull-right" data-date="{{model.date}}" style="color:#a2a2a2; padding:10px;">{{model.ago}}</div>
	<div class="panel-body">
		{{#if model.user_id}}
			<span class='userBadge' data-id='{{model.user_id}}'style="text-decoration:underline;"><img src="http://graph.facebook.com/{{model.user_id}}/picture" style="height:30px; margin-bottom:10px; margin-right:10px;">{{model.name}}</span> {{model.type_name}}
		{{else}}
			<img src="img/1.jpg" style="height:30px; margin-bottom:10px;"> Unknown {{model.type_name}}
		{{/if}}
	</div>
</div>