<div class="page-header clearfix" style="margin-top:15px;">
	<h3 class="col-lg-8">Tasks</h3>
	<p class="col-lg-8">Don't rest until this list is empty!</p>

	<button class="pull-right btn btn-success newTask">Add Task</button>
	<button class="pull-right btn btn-primary showCompleted" style="margin-right:10px;">Show Completed</button>
</div>

<div class="tasks"></div>
<div class="completed" style="display:none;"></div>