<div class="modal fade" id="quizModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{#if model.id}}Edit Topic{{else}}Add Topic{{/if}}</h4>
        </div>
        <div class="modal-body">
			<!-- Name -->
			<div class="form-group">
				    <label>Topic Name</label>
				    <input type="text" class="form-control"  data-key="name" value="{{model.data.name}}" placeholder="Enter topic name">
			</div>

			<!-- 
			<div class="form-group">
				    <label>Topic Administrators</label>
				    <input type="text" class="form-control"  data-key="topicAdmins" value="{{model.data.topicAdmins}}" placeholder="Comma separated emails of the topic admins.">
			</div> -->
			
			<!-- Extra Fields -->
			{{topicfield model extraFields}}

        </div>
        <script type="text/x-handlebars-template" class='answer-template'>
        	<div style="margin-bottom:5px;" class='answerContainer'>
		    	<button type="button" class="close" aria-hidden="true" style="line-height:1.6;">&times;</button>
		    	<input type="text" class="form-control" data-key="answers" placeholder="Add answer text" style="display:inline-block; width:90%;">
		    	<input type="radio" name="correct" class='correct-radio' >
			</div>
        </script>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary saveChanges">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
