<div class="panel panel-default">
  <div class="panel-body">
    {{model.data.name}}
    <button class='btn btn-primary pull-right detailsBtn'>Details</button>
    <button class="btn btn-default pull-right toggleBtn" style="margin-right:10px;">{{#compare model.visible 1 operator="=="}}Visible{{else}}Hidden{{/compare}}</button>
  </div>
</div>