<div class="page-header clearfix" style="margin-top:15px;">
	<h3>Contest</h3>
	<p>This page displays user generated content. All entries your users produced can be viewed and managed.</p>
</div>
<div class="controls well ugc-group">
	<button type="button" class="btn btn-warning uploadEntry" style="display:inline-block; margin-right:10px; float:right;">Upload Entry</button>
	<div class="btn-group" style="display:inline-block; margin-right:10px; float:right;">
	  <button type="button" class="filterBtn btn btn-default active" data-filter="all">All</button>
	  <button type="button" class="filterBtn btn btn-default" data-filter="enabled">Enabled</button>
	  <button type="button" class="filterBtn btn btn-default" data-filter="disabled">Disabled</button>
	</div>
	<form class="form-inline" style="display:inline-block;">
		<input type="search" class="form-control search-field" id="" placeholder="Search" style="width:200px; display:inline;">
		<select class='form-control category-selector' style="margin-left:15px;">
		</select>
	</form>


</div>
<div class="results"></div>

