<div class="modal fade" id="ugcEntryModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">New Entry</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>User ID</label>
            <p class='help-block'>The entry will appear as if it was uploaded by the user with the given ID. Leave it at 0 if it is an admin upload.</p>
            <input type="text" value="0" data-name="userID" class="form-control userID">
          </div>

          <div class="form-group">
            <label>Round</label>
            <p class='help-block'>Round ID of the entry</p>
            <input type="text" value="0" data-name="roundID" class="form-control roundID">
          </div>

          <div class="extra data-group">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary save">Upload Entry</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->
