<div style="text-align:center;">

{{#each data}}

	<div class="step" style="display:inline-block; text-align:center; min-width:110px;">
		<div class="circle" data-ratio="{{this.ratio}}" style="position:relative;">
			<p style="position:absolute; top:42px; text-align:center; color:black; width:100%;">{{this.q}}</p>
		</div>
		<p>{{this.name}}</p>
		<p>{{this.percent}}%</p>
	</div>
	{{#if this.next}}	
		<div class="change" style="display:inline-block; position:relative; bottom:67px;">
			<p class='glyphicon glyphicon-chevron-right'></p>
				<p>{{this.next}}%</p>
		</div>
	{{/if}}

{{/each}}

</div>