<div class="modal fade" id="userDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><img src="http://graph.facebook.com/{{model.user.0.id}}/picture" style="margin-right:15px;">{{model.user.0.name}} <span class='smaller'>{{model.user.0.id}}</span></h4>

        </div>
        <div class="modal-body">
          <div class="panel-group" id="accordion">
            <!-- Information -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Basic information
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Register Date: {{model.user.0.register_date}}</p>
                  <pre>{{jsonStringify model.user.0.data}}</pre>
                </div>
              </div>
               </div>
          <!-- Activity -->
          {{#if sessions}}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                    Activity
                  </a>
                </h4>
              </div>
              <div id="collapseEight" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-condensed activity" style="margin:0 auto;">
                      <tr>
                      </tr>
                  {{#each sessions}}
                      {{#each this}}
                        <tr class='activityRow' data-id="{{this.id}}" data-type="{{this.activity_type_id}}" style="cursor:pointer;">
                          <td style="text-align:right; width:180px;">{{this.date}}</td>
                          <td style="
                          position:relative; width:30px;
                          ">
                              <div style="
                              border-left:4px solid #0e77a8;
                              width:1px;
                              height:30px;
                              {{#if this.first}}
                              height:25px;
                              {{/if}}
                              {{#if this.last}}
                              height:25px;
                              {{/if}}
                              position:absolute;
                              bottom:0px;
                              {{#if this.last}}
                              bottom:5px;
                              {{/if}}
                              left:15px;
                              {{#if this.single}}
                              display:none;
                              {{/if}}
                              ">
                              </div>
                            {{#if this.first}}
                              <div style="
                                border:4px solid #0e77a8;
                                border-radius:30px;
                                width:20px;
                                height:20px;
                                position:absolute;
                                background:white;
                                top:3px;
                                left:7px;
                              "></div>
                            {{/if}}
                            {{#if this.last}}
                               <div style="
                                border:4px solid #0e77a8;
                                border-radius:30px;
                                width:20px;
                                height:20px;
                                position:absolute;
                                background:white;
                                bottom:3px;
                                left:7px;
                              "></div>
                            {{/if}}
                            <div style="
                                border:4px solid #0e77a8;
                                border-radius:30px;
                                width:10px;
                                height:10px;
                                position:absolute;
                                background:#0e77a8;
                                top:10px;
                                {{#if this.first}}
                              top:8px;
                              {{/if}}
                              {{#if this.last}}
                              top:12px;
                              {{/if}}
                                left:12px;
                            ">
                            </div>
                          </td>
                          <td style="text-align:left; width:710px;">{{this.type}} {{#if this.ref}}({{this.ref}}){{/if}}</td>
                        </tr> 
                      {{/each}}
                  {{/each}}
                    </table>
                  
                </div>
              </div>
            </div>
          {{/if}}
           
          <!-- Quiz -->
          {{#if model.quiz}}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Quiz
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class="table table-condensed">
                    <tr>
                      <th>QuestionID</th><th>Data</th><th>Correct</th><th>Date</th><th>Question</th><th>Answers</th>
                    </tr>
                    {{#each model.quiz}}
                      <tr>
                        {{#each this}}
                        <td>{{jsonStringify this}}</td>
                        {{/each}}
                      </tr> 
                    {{/each}}
                  </table>
                </div>
              </div>
            </div>
          {{/if}}
          <!-- UGC -->
          {{#if model.ugc}}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    Contest
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class="table table-condensed">
                    <tr>
                      <th>QuestionID</th><th>Data</th><th>Votes</th><th>Category</th><th>Round</th><th>Disabled</th><th>Date</th>
                    </tr>
                    {{#each model.ugc}}
                      <tr>
                        {{#each this}}
                        <td>{{jsonStringify this}}</td>
                        {{/each}}
                      </tr> 
                    {{/each}}
                  </table>
                </div>
              </div>
            </div>
          {{/if}}
          <!-- Invites -->
          {{#if model.invites}}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    Invites
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class="table table-condensed">
                    <tr>
                      <th>RequestID</th><th>InviterID</th><th>InviteeID</th><th>Confirmed</th><th>Date</th>
                    </tr>
                    {{#each model.invites}}
                      <tr>
                        {{#each this}}
                        <td>{{jsonStringify this}}</td>
                        {{/each}}
                      </tr> 
                    {{/each}}
                  </table>
                </div>
              </div>
            </div>
          {{/if}}
          <!-- Custom -->
          {{#if model.custom}}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                    Custom
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class="table table-condensed">
                    <tr>
                      <th>ID</th><th>Data</th><th>Date</th>
                    </tr>
                    {{#each model.custom}}
                      <tr>
                        {{#each this}}
                        <td>{{jsonStringify this}}</td>
                        {{/each}}
                      </tr> 
                    {{/each}}
                  </table>
                </div>
              </div>
            </div>
          {{/if}}
          <!-- Votes -->
          {{#if model.votes}}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                    Votes
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class="table table-condensed">
                    <tr>
                      <th>ID</th><th>EntryID</th><th>Date</th>
                    </tr>
                    {{#each model.votes}}
                      <tr>
                        {{#each this}}
                        <td>{{jsonStringify this}}</td>
                        {{/each}}
                      </tr> 
                    {{/each}}
                  </table>
                </div>
              </div>
            </div>
          {{/if}}
          <!-- Limits -->
          {{#if model.limits}}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                    Limits
                  </a>
                </h4>
              </div>
              <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class="table table-condensed">
                    <tr>
                      <th>ID</th><th>Data</th><th>Date</th>
                    </tr>
                    {{#each model.limits}}
                      <tr>
                        {{#each this}}
                        <td>{{jsonStringify this}}</td>
                        {{/each}}
                      </tr> 
                    {{/each}}
                  </table>
                </div>
              </div>
            </div>
          {{/if}}
          <!-- Body end -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->
