{{#if warnings}}

{{#each warnings}}
<div class="alert alert-info alert-{{this.type}}">
	{{#compare this.type "warning" operator="=="}}
		<span class='close' data-id="{{this.index}}">&times;</span>
	{{/compare}}
	{{#compare this.type "task" operator="=="}}
		<span class='close' data-id="{{this.index}}">&times;</span>
	{{/compare}}
	{{#compare this.type "danger" operator="=="}}
		<a href='#{{this.link}}' class='alert-link pull-right'>FIX IT</a>
	{{/compare}}

	
	{{#compare this.type "warning" operator="=="}}
		<strong>Warning!</strong>
	{{/compare}}
	{{#compare this.type "danger" operator="=="}}
		<strong>Oops!</strong>
	{{/compare}}
	{{#compare this.type "task" operator="=="}}
		<strong>TODO:</strong>
	{{/compare}}

	{{#if this.date}}
		<span class="date" style="font-style:italic; color:rgba(0,0,0,0.3);">{{this.date}}</span> 
	{{/if}}
	{{this.message}} {{#compare this.type "task" operator="=="}}{{#if this.link}}
		 - <a href='{{this.link}}' class='link'>Do it Now</a>
	{{/if}}{{/compare}}


</div>
{{/each}}
{{else}}

	<div class="alert alert-success">
		<strong>Well Done!</strong> No more tasks for this app.
	</div>

{{/if}}
